examples/base64binary/example.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="DatumType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="index" type="xs:integer"/>
            <xs:element name="bytes" type="xs:base64Binary"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Datum" type="DatumType"/>
</xs:schema>
